<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960998892066-pua668l2qfdgt8o1ctri5sitlkmnog9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960998892066-pua668l2qfdgt8o1ctri5sitlkmnog9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960998892066-o5ptbsituedd8duqti46akhvcs3ku4ha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVQmPhwlDAdg9hgjs24i2TQYbrao3I1Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>960998892066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezlaunch.forwaApp</string>
	<key>PROJECT_ID</key>
	<string>forwa-90ef3</string>
	<key>STORAGE_BUCKET</key>
	<string>forwa-90ef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960998892066:ios:af8e22aac9a82d9c4ee07b</string>
</dict>
</plist>